<div th:fragment="header_nav_menu" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <h2 class="navbar-brand">Quản lý sinh viên</h2>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Danh mục
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/school">Danh sách trường</a></li>
                <li><a class="dropdown-item" href="/job">Danh sách ngành</a></li>
                <li><a class="dropdown-item" href="/student">Danh sách sinh viên</a></li>
                <li><a class="dropdown-item" href="/graduate">Danh sách tốt nghiệp</a></li>
            </ul>
        </li>
    </ul>
</div>